.hide {
  display: none;
}

.autocomplete-list {
  list-style: none;
  max-height: 200px;
  overflow: scroll;
  box-shadow: 0 2px 5px rgba(0,0,0, 0.5);
  margin: 0;
  padding: 10px 0;
  position: absolute;
  background-color: white;
  width: 35%;
}

.autocomplete-list li {
  cursor: pointer;
  padding: 5px 10px;
  color: #333;
}

.autocomplete-list li:hover {
  background: #6dace0;
  color: white;
}
